h1 {
    text-align: center;
}
p {
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25in;
    background: url(image/bg_img2.jpg);
}
body{
    background: url(image/bg_img3.jpg);
}
.banner{
    background: url(image/bg_img4.jpg) repeat-x;
    font-size: 50pt;
    font-family: Arial Rounded MT Bold;
}